/* dark mode and light */

:root.dark {
    --border-btn: 2px solid white;
    --color-base-bg: black;
    --color-base-text: white;
    --bg-btn-img: url("lightbulb_white_24dp.svg");
}

:root.light {
    --border-btn: 2px solid black;
    --color-base-bg: white;
    --color-base-text: black;
    --bg-btn-img: url("mode_night_black_24dp.svg");
}

body,
.toggle {
   color: var(--color-base-text);
   transition: 0.5s;
}

body {
    background-color: var(--color-base-bg);
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* dark mode and light mode button */

.toggle {
    border: var(--border-btn);
    border-radius: 50%;
    font-size: 1.125 rem;
    width: 30px;
    height: 30px;
    background: var(--bg-btn-img) no-repeat center;
    background-size: 80%;
    color: white;
    position: fixed;
    top: 1%;
    right: 1%;
}

.toggle:hover {
    cursor: pointer;
}

/* HEADER */
.header {
    display: flex;
    background-color: grey;
    margin: 0;
    padding: 20px;
    color: white;
    justify-content: center;
    gap: 50px;
    position: static;
}

.links {
    display: flex;
}

/* TITLE PAGE */

.title-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

.username {
    margin-top: auto;
    font-size: 70px;
    font-weight: bolder;
}

.name {
    font-size: 40px;
    font-weight: bolder;
}

.fab {
    color: var(--font);
    font-size: 18px;
    transition: transform 0.3s ease-in-out;
    margin-left: 5px;
}
  
.fab:hover {
    transform: rotate(360deg) scale(1.2);
}

.arrow-projects {
    bottom: 0px;
}
/* PROJECTS */

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* EDUCATION */

.education {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* SKILLS */

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HOBBIES */

.hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CONTACTS */

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}