html {
    scroll-behavior: smooth;
}
       
/* dark mode and light */

:root.dark {
    --border-btn: 2px solid white;
    --color-base-bg: black;
    --color-base-text: white;
    --bg-btn-img: url("images/lightbulb_white_24dp.svg");
}

:root.light {
    --border-btn: 2px solid black;
    --color-base-bg: white;
    --color-base-text: black;
    --bg-btn-img: url("images/mode_night_black_24dp.svg");
}

body,
.toggle {
   color: var(--color-base-text);
   transition: 0.5s;
}

body {
    background-color: var(--color-base-bg);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
}

/* dark mode and light mode button */

.toggle {
    border: var(--border-btn);
    border-radius: 50%;
    width: 31px;
    height: 31px;
    background: var(--bg-btn-img) no-repeat center;
    background-size: 80%;
    color: white;
    position: absolute;
    right: 2%;
}

.toggle:hover {
    cursor: pointer;
}

/* HEADER */
.header {
    display: flex;
    background-color: grey;
    margin: 0;
    padding-top: 17px;
    padding-bottom: 17px;
    color: white;
    justify-content: center;
    position: absolute;
    width: 100%;
    gap: 50px;
    align-items: center;
}

.links {
    display: flex;
}

/* TITLE PAGE */

.title-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: auto;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username {
    font-size: 70px;
    font-weight: bolder;
}

.name {
    font-size: 40px;
    font-weight: bolder;
}

.links {
    margin-top: 10px;
    gap: 20px;
}

.fab {
    color: var(--color-base-text);
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}
  
.fab:hover {
    transform: rotate(360deg) scale(1.2);
}

.arrow-projects {
    display: flex;
    justify-content: center;
}

.fa-solid {
    color: var(--color-base-text);
    position: absolute;
    bottom: 5%;
    font-size: 30px;
}

/* PROJECTS */

.projects-page {
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-title {
    font-size: 60px;
    margin-top: 5%;
}

/* EDUCATION */

.education {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* SKILLS */

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HOBBIES */

.hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CONTACTS */

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}
